.App {
  text-align: center;
  background: radial-gradient(148.42% 106.52% at 50% 0%, #85002B 16.57%, rgba(230, 72, 151, 0.47) 84.47%, #FFD9A1 100%), #FFD9A1;
  min-height: 100vh;
  font-size: calc(8px + 2vmin);
  color: #FFD9A1;
  font-family: 'Futura';
}

.App-logo {
  height: 32vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    /* animation: App-logo-spin infinite 20s linear; */
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.answers {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

button {
  background: linear-gradient(99.44deg, #E64897 0%, #FFD9A1 95.77%);
  box-shadow: 0px 4px 4px rgba(252, 73, 66, 0.39);
  border-radius: 4px 4px 32vmin 32vmin;
  width: 32vmin;
  height: 8vmin;
  font-family: 'Futura';
  margin-top: 2vmin;
  font-style: normal;
  font-weight: 900;
  padding: 0vmin 3vmin;
  font-size: calc(8px + 2vmin);
  text-align: center;
  letter-spacing: -0.02em;
  color: #FFD9A1;
  -webkit-text-stroke: 1px #FC4942;
  border: none;
}

.button-right {
  color: #FC4942;
  -webkit-text-stroke: 1px #FFD9A1;
  background: linear-gradient(225.31deg, #E64897 0%, #FFD9A1 86.75%);
  box-shadow: 0px 4px 4px rgba(252, 73, 66, 0.39);
}

.container {
  width: 60vw;
  margin: auto;
}

.question {
  background: rgba(133, 0, 43, 0.4);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 3px;
  font-style: normal;
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 53px;
  margin: auto;
  text-align: center;
  letter-spacing: -0.02em;
  /* yellow */
  color: #FFD9A1;
  /* mute-pink-shadow */
  text-shadow: 2px 2px 1px #E64897;
}

.tongue {
  font-family: 'HWT Arabesque';
  font-style: normal;
  font-weight: 400;
  color: #FC4942;
  font-size: calc(16px + 2vmin);
  -webkit-text-stroke: 2px #FFD9A1;
}

.Welcome {
  width: 50%;
  text-align: left;
}